.toggled{
    display: none!important;
}

.klWHUo {
    background-color: rgba(0, 0, 0, 0.5)!important;
    color: #ffffff;
    height: 100%;
    width: 270px;
    min-width: 270px;
    text-align: left;
    -webkit-transition: width,left,right,0.3s;
    transition: width,left,right,0.3s;
    position: relative;
    z-index: 1009;
}



.btn-block {
    display: inline-block;
    width: 45%;
    flex-direction: column-reverse;
    align-items: center;
}
.offcanvas{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.navbar-toggler {
    border: transparent;
}

.d-block.w-100{
    width: 100%;
    height: 100%;
}

.justify-content-end.flex-grow-1.pe-3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    
}
.navbar.navbar-expand-lg.navbar-light.bg-full{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    
}

.navbar-collapse.collapse{
    padding-left: 200px;
}

.nav-link{
    padding-right: 10px;
    color:black !important;

}

.navbar{
    --bs-navbar-nav-link-padding-x: 25px;
}


.bg-light {
    background-color: rgba(175, 223, 255, 0.178)!important;
    transition-duration: 300ms;
    
}

.bg-full{
    --bs-bg-opacity: 1;
    background: linear-gradient(315deg ,#dedfe0,#1b324b);
    transition-duration: 500ms;
    
    
}
.trend{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    font-style: italic;
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root{
    height: 300px;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.cardstyle{
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 30PX;
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root{
    height: 20px;
}

.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.css-h93ljk-MuiTypography-root{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.horline{
    background-color: black;
    height: 1.5px;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutus{
    text-align: center;
    font-weight: bold;
}

.parag{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 25px;
    margin-top: 20px;
}

.bg-dark.text-white.card{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    height: 80px;
}

.card-img{
    height: 100%;
    opacity: 0.8;
}

.card-title.h5{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 10px;
}

.MuiButtonBase-root.MuiCardActionArea-root.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
    padding-bottom: 20px;
}


.bg-dark.text-white.card {
    margin-bottom: 5%;
}

.bg-beige{
    background-color: rgb(5, 5, 5);
}

.dark {
    background-color: #292c35;
    color:white;
    transition: 500ms;
  }


 .container {
    margin-inline-start: auto;
}
a.navbar-brand {
    margin-left: 15%;
}



.button-three {
    position: relative;
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width:max-content;
    padding-top: 2% ;
    padding-bottom: 2%;
    padding-inline: 3%;
    margin-inline: 5%;
    background: linear-gradient(315deg ,#1b324b,#225877);
    font-weight:500;
    color: white;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
}

.button-three:hover{
   background:linear-gradient(315deg ,#dedfe0,#1b324b);
   box-shadow:rgba(0, 0, 0, 0.25) 0 8px 15px;
   transform: translateY(-2px);
   color:rgb(228, 224, 224);
}

.button-three:after {
    content: "";
    background: #1b324b;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.footer-body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(315deg, #dedfe0, #132436);
}
.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #292c35;
    color:white;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
 
  
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  
  .Our-socials-header{
    margin-bottom: 5%;
  }

 



